body{
	background-color: #347B98;
}
#loginForm{
	margin: 10 auto;
	background-color: #E4F1F6;
	width: 40%;
	padding: 20px;
}

.form-row{
	margin: 20px;
}

.form-group{
	margin: 20px;
}

.row{
	margin: 20px;
}

.btn
{
    margin-left: 5px;
}

#errorMessage
{
    background-color: pink;
	display: inline;
	margin: 20px;
}