body{
    background-color: #E4F1F6;
}

td.reserved
{
    background-color: red;
}

td.available
{
    background-color: green;
}

td.selected
{
    background-color: gold;
}

th
{
    text-align: left;
}