body
{
    background-color: #E4F1F6;
}

td.reserved
{
    background-color: red;
}

td.available
{
    background-color: green;
}

td.selected
{
    background-color: gold;
}

th
{
    text-align: left;
}

.reservation
{
    margin: 25px;
}

#errorMessage
{
    background-color: pink;
    display: inline;
}

.form-row
{
    margin-top: 10px;
}


.btn
{
    margin-left: 5px;
}
